<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC Database connection setings -->
        <property name="connection.driver.class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/bank-app?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">password</property>

        <!-- Select SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="current_session_context_class">thread</property>
        <mapping class="com.banking.model.User" />
        <mapping class="com.banking.model.Account" />
        <mapping class="com.banking.model.Person" />
        <mapping class="com.banking.model.Transaction" />
        <mapping class="com.banking.model.Notification" />

    </session-factory>
</hibernate-configuration>